[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "third_party/grpc-gateway"]
	path = third_party/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway.git
[submodule "third_party/protovalidate"]
	path = third_party/protovalidate
	url = https://github.com/bufbuild/protovalidate.git
[submodule "platforms/android"]
	path = platforms/android
	url = https://github.com/convrz/android.git
[submodule "platforms/ios"]
	path = platforms/ios
	url = https://github.com/convrz/ios.git
[submodule "platforms/web"]
	path = platforms/web
	url = https://github.com/convrz/web.git
[submodule "platforms/docs"]
	path = platforms/docs
	url = https://github.com/convrz/docs.git
